In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/station_salvador.csv')
df.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,D-J-F,M-A-M,J-J-A,S-O-N,metANN
0,1961,999.90,999.90,999.90,999.90,999.90,999.90,999.90,999.90,999.90,999.90,999.90,24.97,999.90,999.90,999.90,999.90,999.90
1,1962,26.07,25.97,26.07,25.77,24.47,23.37,22.47,22.47,23.37,22.97,24.67,25.18,25.67,25.44,22.77,23.67,24.39
2,1963,999.90,25.78,26.38,25.68,23.68,999.90,22.08,22.38,23.08,24.18,24.88,24.67,25.51,25.25,22.46,24.05,24.32
3,1964,25.27,25.67,25.47,24.97,24.07,23.07,22.77,22.77,23.27,23.77,23.87,24.46,25.20,24.84,22.87,23.64,24.14
4,1965,24.96,25.76,26.06,24.96,24.56,23.56,23.26,22.86,23.66,24.36,24.86,25.35,25.06,25.19,23.23,24.29,24.44

In [8]:
dx = df.replace(999.90, np.nan)
print(dx.fillna(method='ffill'))

    YEAR    JAN    FEB    MAR    APR    MAY    JUN    JUL    AUG    SEP  \
0   1961    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   1962  26.07  25.97  26.07  25.77  24.47  23.37  22.47  22.47  23.37
2   1963  26.07  25.78  26.38  25.68  23.68  23.37  22.08  22.38  23.08
3   1964  25.27  25.67  25.47  24.97  24.07  23.07  22.77  22.77  23.27
4   1965  24.96  25.76  26.06  24.96  24.56  23.56  23.26  22.86  23.66
5   1966  25.85  25.25  25.35  25.25  24.15  23.55  22.75  22.65  23.05
6   1967  26.14  26.14  25.74  25.34  24.34  23.84  22.54  22.54  23.44
7   1968  25.03  25.03  24.83  24.73  23.23  21.73  22.03  21.83  22.83
8   1969  25.53  25.43  25.43  25.23  24.33  23.83  23.43  22.93  23.73
9   1970  25.32  25.82  25.82  24.92  24.22  23.32  22.42  22.42  23.72
10  1971  25.41  26.01  26.61  25.41  24.31  23.51  22.61  22.51  23.41
11  1972  25.60  25.40  26.40  25.10  24.50  23.70  23.20  23.30  24.00
12  1973  26.42  27.12  27.02  26.22  24.82  24.12  23.52  23.82  23.82
13  1974  25.74  25.64  25.74  25.54  24.54  23.44  22.64  22.84  23.44
14  1975  25.65  25.85  25.65  24.95  23.85  23.85  22.45  23.55  23.44
15  1976  25.57  25.07  25.47  24.77  24.97  23.57  23.37  22.57  24.47
16  1977  25.49  25.99  26.49  25.39  24.29  23.69  23.37  22.57  23.69
17  1978  25.61  25.71  25.31  25.21  24.71  23.41  23.21  23.01  23.61
18  1979  24.53  25.56  25.65  25.38  25.03  23.41  23.21  23.35  23.77
19  1980  25.34  25.14  25.64  25.34  24.64  23.54  23.04  23.44  23.64
20  1981  25.76  25.66  25.46  24.76  23.86  23.16  22.36  22.56  23.46
21  1982  26.28  25.78  26.48  24.98  24.08  23.58  23.18  23.28  23.38
22  1983  26.40  26.60  26.60  25.90  25.30  23.58  23.70  23.40  23.38
23  1984  26.40  27.02  26.92  25.02  24.82  24.22  23.52  23.22  23.62
24  1985  26.53  26.43  26.53  24.73  24.83  24.03  22.83  23.03  23.33
25  1986  26.05  26.75  26.53  25.75  24.85  23.65  22.95  23.15  23.15
26  1987  26.07  26.87  26.47  26.37  25.57  24.77  23.67  24.37  24.47
27  1988  27.09  26.79  26.79  26.29  25.57  24.19  22.69  22.69  23.89
28  1989  26.00  26.70  26.20  25.50  24.80  24.50  23.10  23.30  24.10
29  1990  25.92  26.62  26.62  26.72  25.42  24.12  23.52  23.32  23.82
30  1991  25.64  26.04  26.44  26.72  24.54  24.54  22.74  22.14  23.24
31  1992  25.96  26.04  26.44  25.96  25.46  23.86  23.16  23.16  23.66
32  1993  26.08  26.88  26.44  26.38  24.88  23.86  23.78  23.18  24.08
33  1994  27.09  26.79  26.44  25.69  24.88  24.29  23.49  23.18  23.69
34  1995  27.09  26.79  26.44  25.69  25.51  24.11  23.61  23.18  24.21
35  1996  26.93  26.83  26.44  26.03  25.51  23.83  23.23  23.33  23.83
36  1997  26.93  25.65  25.55  25.35  24.45  24.05  23.45  23.35  24.65
37  1998  27.77  27.97  27.87  27.17  26.17  24.57  23.87  23.97  24.87
38  1999  27.77  26.98  26.98  26.08  24.78  24.28  23.78  23.28  23.78
39  2000  26.50  26.90  26.30  25.70  25.20  24.28  23.40  23.60  24.00
40  2001  26.12  27.22  26.72  26.42  25.92  24.42  23.52  23.32  23.92
41  2002  25.94  26.74  26.94  26.44  25.14  24.34  24.14  24.24  24.99
42  2003  28.25  27.75  27.20  26.65  25.65  24.75  24.05  23.85  24.25
43  2004  26.97  27.02  26.87  26.32  25.52  24.37  23.22  23.37  24.62
44  2005  27.69  27.09  27.39  26.39  25.94  24.74  23.79  24.39  24.62
45  2006  27.66  28.76  27.39  26.41  24.86  24.74  23.46  23.91  24.26
46  2007  27.73  26.63  27.39  26.41  24.86  24.74  23.46  23.91  24.26
47  2008  27.73  26.63  26.74  26.19  24.84  23.74  22.69  23.19  24.29
48  2009  27.01  26.51  27.16  25.66  24.16  24.81  24.41  24.66  25.37
49  2010  27.80  26.51  27.78  25.96  25.90  24.69  23.31  23.28  23.98
50  2011  26.33  27.56  26.93  26.00  25.90  24.69  23.31  23.28  23.98
51  2012  26.33  27.04  27.09  27.09  25.64  24.94  24.09  23.58  24.94
52  2013  28.23  28.64  28.94  27.14  25.49  24.49  24.04  23.89  24.49
53  2014  26.29  26.14  26.69  26.39  24.89  24.04  23.79  23.90  24.55
54  2015  26.95  27.25  27.75  26.75  24.95  24.10  24.15  23.80  25.15
55  2016  27.25  27.85  28.15  26.75  25.35  24.60  24.20  24.75  24.90
56  2017  27.25  28.00  27.30  26.45  25.20  24.45  22.75  23.15  23.65
57  2018  27.65  27.75  27.30  26.45  25.20  24.45  22.75  23.15  23.65
58  2019  28.05  29.30  27.30  26.45  26.75  24.45  24.80  24.75  25.35

      OCT    NOV    DEC  D-J-F  M-A-M  J-J-A  S-O-N  metANN
0     NaN    NaN  24.97    NaN    NaN    NaN    NaN     NaN
1   22.97  24.67  25.18  25.67  25.44  22.77  23.67   24.39
2   24.18  24.88  24.67  25.51  25.25  22.46  24.05   24.32
3   23.77  23.87  24.46  25.20  24.84  22.87  23.64   24.14
4   24.36  24.86  25.35  25.06  25.19  23.23  24.29   24.44
5   24.15  24.45  24.94  25.48  24.92  22.98  23.88   24.32
6   24.04  24.44  24.43  25.74  25.14  22.97  23.97   24.46
7   23.83  23.83  24.83  24.83  24.26  21.86  23.50   23.61
8   24.73  25.23  24.82  25.26  25.00  23.40  24.56   24.55
9   24.62  24.82  25.51  25.32  24.99  22.72  24.39   24.35
10  23.91  24.61  25.30  25.64  25.44  22.88  23.98   24.48
11  24.80  25.40  26.92  25.43  25.33  23.40  24.73   24.73
12  25.42  25.12  25.64  26.82  26.02  23.82  24.79   25.36
13  25.42  24.34  25.55  25.67  25.27  22.97  23.95   24.47
14  25.42  24.85  24.47  25.68  24.82  23.28  23.95   24.49
15  24.47  25.67  26.29  25.04  25.07  23.17  24.87   24.54
16  24.09  25.59  25.31  25.92  25.39  23.17  24.46   24.74
17  24.11  24.61  24.73  25.54  25.08  23.21  24.11   24.48
18  24.11  24.97  25.34  24.94  25.35  23.21  24.43   24.39
19  24.24  24.34  25.66  25.27  25.21  23.34  24.07   24.47
20  24.56  25.16  25.78  25.69  24.69  22.69  24.39   24.37
21  24.18  25.28  25.80  25.95  25.18  23.35  24.28   24.69
22  24.40  25.28  25.72  26.27  25.93  23.78  24.28   25.23
23  24.52  24.52  26.13  26.40  25.59  23.65  24.22   24.97
24  24.63  24.83  24.55  26.36  25.36  23.30  24.26   24.82
25  24.63  24.83  26.17  25.78  25.69  23.25  24.26   24.81
26  25.67  25.67  26.49  26.37  26.14  24.27  25.27   25.51
27  25.49  25.29  25.80  26.79  26.12  23.19  24.89   25.25
28  24.60  26.00  24.52  26.17  25.50  23.63  24.90   25.05
29  24.72  26.00  25.24  25.69  26.25  23.65  24.61   25.05
30  24.54  25.14  25.96  25.64  25.52  23.14  24.31   24.65
31  24.76  24.96  25.28  26.10  26.10  23.39  24.46   25.01
32  24.68  25.78  26.49  26.08  26.02  23.71  24.85   25.16
33  23.49  25.78  26.21  26.79  26.02  23.78  23.93   25.05
34  25.31  25.78  26.03  26.79  26.02  23.75  25.10   25.05
35  25.23  24.93  26.03  26.60  26.02  23.46  24.66   25.12
36  25.45  26.35  26.03  26.60  25.12  23.62  25.48   25.14
37  25.77  26.37  26.58  27.70  27.07  24.14  25.67   26.14
38  24.38  24.88  26.58  26.81  25.95  23.78  24.35   25.22
39  25.50  26.00  26.02  26.53  25.73  23.73  25.17   25.29
40  24.72  26.12  26.44  26.45  26.35  23.75  24.92   25.37
41  26.04  26.12  27.50  26.37  26.17  24.24  25.86   25.66
42  25.65  26.35  27.47  27.83  26.50  24.22  25.42   25.99
43  25.07  25.67  27.04  27.15  26.24  23.65  25.12   25.54
44  25.07  26.54  26.91  27.27  26.57  24.31  25.12   25.95
45  25.36  25.71  26.98  27.78  26.03  23.92  25.11   25.71
46  25.36  25.71  26.98  27.11  26.03  23.92  25.11   25.71
47  25.64  26.04  25.66  27.11  25.92  23.21  25.32   25.22
48  26.35  26.77  27.63  26.39  25.66  24.63  26.16   25.71
49  25.68  26.23  26.28  27.86  26.55  23.76  25.30   25.86
50  25.68  26.23  26.28  26.72  26.04  23.76  25.30   25.86
51  25.44  26.89  27.74  26.72  26.61  24.20  25.76   25.93
52  25.19  25.69  26.29  28.20  27.19  24.14  25.12   26.16
53  25.75  26.20  26.35  26.24  25.99  23.91  25.50   25.41
54  26.40  27.60  27.90  26.85  26.48  24.02  26.38   25.93
55  26.30  26.75  27.40  27.67  26.78  24.52  25.98   26.24
56  25.30  26.45  27.30  27.73  26.32  23.45  25.13   25.66
57  25.30  26.80  27.15  27.57  26.32  23.45  25.13   25.66
58  26.40  26.80  27.15  28.17  26.32  25.01  26.22   26.68